// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.compact-hero .small-text {
  font-size: 1.4rem;   // reduce font size
  line-height: 1.2;     // tighter spacing
}

.compact-hero small {
  font-size: 1.0rem;    // make <small> smaller
  line-height: 0.6;
}
